{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container-fluid mt-2">
    <div class="jumbotron mt-2">
        <h2 class="display-4">The new PunkProject !</h2>
        <p class="lead">The features are coming! Welcome to the beta-test to see if it works!</p>
    </div>
</div>
{% endblock %}
