{% extends 'base.html.twig' %}

{% block title %}Assets{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="jumbotron mt-2">
        <h2 class="display-4">Assets submissions</h2>
        <p class="lead">The list of assets created by the community!</p>
    </div>
    {% include "asset/assets.cards.html.twig" %}
</div>
{% endblock %}
