{% extends 'dashboard/base.dashboard.html.twig' %}

{% block subtitle %}Asset category{% endblock %}

{% block body_dashboard %}
<h2>Adding a new asset category</h2>
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.submit, { 'label': 'Submit me', 'attr': {'class': 'btn btn-primary'} }) }}
{{ form_end(form) }}
{% endblock %}
