#global {
    width: 80%;
    /* background-color: #394876 ; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
}


.center {
    text-align: center;
}

section {
    height: 100vh;
}

.login-form{
    padding: 20px; 
}

.request{
    padding: 20px;
}