{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    body {
        background-color: #f7f9fb;
        font-size: 14px;
    }

    .brand {
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
        margin: 40px auto;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);
        position: relative;
        z-index: 1;
    }

    .brand img {
        width: 100%;
    }

    .card-wrapper {
        width: 400px;
    }

    .card {
        border-color: transparent;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);
    }

    .btn.btn-block {
        padding: 12px 10px;
    }

    .card .card-title {
        margin-bottom: 30px;
    }

    .card.fat {
        padding: 10px;
    }

    @media screen and (max-width: 425px) {
        .my-login-page .card-wrapper {
            width: 90%;
            margin: 0 auto;
        }
    }

    .btn.btn-block {
        padding: 12px 10px;
    }
</style>
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="{{asset('images/punkproject.png')}}"  alt="logo">
                </div>
                <h2 class="text-center">PunkProject</h2>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <a href="{{path('discord')}}" class="btn btn-light w-100" style="color: #7289DA;"><img src="{{asset('images/discord-logo-color.svg')}}" height="30"/> Connect with Discord</a>
                    </div>
                </div>
                <!-- <div class="footer">
                    
                </div> -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
