{% extends 'dashboard/base.dashboard.html.twig' %}

{% block subtitle %}Home{% endblock %}

{% block body_dashboard %}
<div class="container-fluid">
    One of three columns    
</div>
{% endblock %}
