<div class="btn-group-vertical w-100">
    <a class="btn btn-secondary" href="{{path('dashboard')}}" role="button">Home</a>
    <a class="btn btn-primary" href="{{path('my_assets')}}" role="button">My assets</a>
    <a class="btn btn-primary" href="{{path('add_asset')}}" role="button">Add an asset</a>
</div>