{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div class="container-fluid mt-2">
    <div class="jumbotron mt-2">
        <h2 class="display-4">Users</h2>
        <p class="lead">List of fantatic people of this website!</p>
    </div>
    <div class="bg-light rounded p-2 overflow-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Badge</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <th scope="row"><img src="{{avatar(user)}}" width="30" height="30" class="img-fluid d-inline-block align-top rounded-circle avatar" alt="" loading="lazy"> {{user.username}}</th>
                <td>{% if "ROLE_ADMIN" in user.roles %}<div class="badge badge-primary">Admin</div>{% endif %}{% if user.banned %}<div class="badge badge-danger">Banned</div>{% endif %}</td>
                <td><a href="{{ path('user_show', {'id': user.id}) }}">Profile of {{user.username}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
